<div class="text-templet border border-success">
<br>
<h2>どんなアプリ？</h2>
<h5>
    ・目標を達成したいと思ったきっかけ、理由、達成後の目的を深堀りしていきます！<br>
    ・きっかけ、理由、達成後の目的に対して「何故？」と繰り返し問いかけることで目標の真意に辿り着き、目標に対する軸が定まります！<br>

</h5>
<br>
<h2>利用方法</h2>
<h5>
<p>1.ページ上部にある"自己分析を始める"ボタンをクリック<br>
2.目標を入力して自己分析開始！<br>
3.宣言した目標を「何故？」達成したいのか答えよう！<br>
4.答えに対してさらに「何故？」なのか問い詰めていく！<br>
5.解答を繰り返し、理由を引き出し切ったところで自己分析終了！<br>
6.最後に自身の目標と解答を見直し、目標に対する想いの真意を見つめ直そう！</p>
</h5>


</div>
