<nav>
    <p class="menulist">MenuList</p>
    <%# <%= link_to '分析一覧にいく', answer_path(current_user), method: :get, class: "login" %>
    <div class="1side-list">
        <div>
            <select class="btn btn-success">リスト
                <option value="">過去の分析一覧</option>
                <% @rooms.each do |room| %>
                    <option><%= link_to "#{room.target}", room_path(room.id) %></option>
                    <p></p>
                <% end %>
            </select>
        </div>
    </div>    
</nav>