<nav>left
        <h1>hello</h1>
        <%# <%= link_to '分析一覧にいく', answer_path(current_user), method: :get, class: "login" %>
        <div class="1side-list">
            <ul class="menu-list">リスト
        <% @rooms.each do |room| %>
            <li><%= link_to "#{room.target}", room_path(room.id) %></li>
            <p></p>
        <% end %>
            </ul>
        </div>
        <p><%= link_to '過去の分析一覧', url:"#"%></p>
</nav>