<nav>left
        <h1>hello</h1>
        <%# <%= link_to '分析一覧にいく', answer_path(current_user), method: :get, class: "login" %>
        <div class="1side-list">
            <ul class="menu-list">リスト
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <p><%= link_to '過去の分析一覧', url:"#"%></p>
        <% @rooms.each do |room| %>
        <%= link_to "#{room.target}", room_path(room.id) %>
        <p></p>
        <% end %>
</nav>