<nav>left
        <h1>hello</h1>
        <%# <%= link_to '分析一覧にいく', answer_path(current_user), method: :get, class: "login" %>
        <div class="1side-list">
            <ul class="menu-list">リスト
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
</nav>