<% @answers.each do |a| %>
<% if a.ans == "ああ" %>
    <div class="postlist">
        投稿日時：<%= a.ans %>
    </div>
    <% next %>
<% else %>
    <% next %>
<% end %>

    <div class="postlist">
    </div>
    <div class="conectline border">
    </div>
<% end %>