<%# <% @rightanswers.each do |a| %> %>
    <div class="postlist">
        <%# 投稿日時：<%= a.rightans %> %>
    </div>
ppp
    <div class="postlist">
    </div>
    <div class="conectline border">
    </div>
<%# <% end %> %>