<%= render partial: 'right_answers/right_ans' %>
  
<%# <%= form_with model: [@room, @rightanswer], url: new_room_right_answer_path, local: true, id: "form" do |f| %> %>
    <%# <%= f.text_field :rightans, id: "right-answer" %> %>
    <%# <%= f.submit '投稿' , id: "right-submit" %> %>
<%# <% end %>  %>
<div id="addinc">
</div>