<div class="roombody">
    <%= render "shared/side_list" %>
    <div class="analysis">
        <%= link_to '自己分析する', new_room_path %>
      
        <p><%= link_to '過去の分析一覧', url:"#"%></p>
    </div>
    
    <div class="explan">
        機能説明
    </div>
</div>