<div class="roombody">
    <%= render "shared/side_list" %>
    <div class="analysis">
        <%= link_to '自己分析する', new_room_path, class:"btn btn-success" %>
    </div>
    
    <div class="explan">
        <div class="text-center">
            機能説明
        </div>
        <div class="explan-text">
        <p></p>
        <h2>目次</h2>
        
        </div>
    </div>
</div>