.homebody{
    /* font-size: 2rem; */
    width: 800px;
    background-color: beige;
    border: black solid 1px;
    margin: 0 20px;
    min-height: 100vh;
    display: grid;
    grid-template:
        "...... ...... ...... ...... ......" 10px
        "header header header header header" 15px
        "...... ...... ...... ...... ......" 10px
        "left   ...... center ...... right"  1fr
        "...... ...... ...... ...... ......" 5px
        "footer footer footer footer footer" 150px
        / 150px 5px 1fr 5px 60px;
}

header{
    grid-area: header;
}

nav{
    grid-area: left;
}

main{
    grid-area: center;
}

aside{
    grid-area: right;
}

footer{
    grid-area: footer;
}

@media screen and (max-width: 1000px) {
    /* .homebody{
        grid-template:
        "header"     150px
        "left  "     
        "center"     1fr
        "right "     
        "footer"     300px;
    } */
}
.mokuhyo{
    resize: none;
    padding: 10px;
}

.form-group{
    display: flex;
}

.side-list{
    width: 15vw;
    margin: 5px 5px;    
}

.menu-list{
    width: 170px;
    height: 280px;
    border: 2px red solid;
}


.sepa{
    width: 85vw;
}

.postlist{
    height: 50px;
    width: 180px;

}

.post{
    
    border: 1px lightgreen solid;
    padding: 3px;
}

.conectline{
    height: 5px;
    width: 15px;
    border: orangered 3px;
}

.ansdef{
    display: flex;
    justify-content: space-around;
}

.ansnum{
   
    margin-left: 15px;
} 