.homebody{
    /* font-size: 2rem; */
    width: 100vw;
    background-color: beige;
    border: black solid 1px;
    min-height: 100vh;
    display: grid;
    grid-template:
        "header  header     header       header      header" 15px
        "header  header     header       header      header" 15px
        "left    center     center       center      right"  160px
        "left    main-left  main-center  main-right  right"  1fr
        "......  ......     ......       ......      ......" 120px
        "footer  footer     footer       footer      footer" 150px
        / 200px  1fr        1fr          1fr         200px;
}

main{
    grid-area: center;
}
.main-top{
    display: block;
    /* margin: 25px auto 5px; */
}

.main-left{
    grid-area: main-left;
    padding: 0 3px;
}
.main-center{
    grid-area: main-center;
    padding: 0 3px;
}
.main-right{
    grid-area: main-right;
    padding: 0 3px;
}

aside{
    grid-area: right;
}

footer{
    grid-area: footer;
}

.form-group{
    display: flex;
}

.side-list{
    width: 15vw;
    /* margin: 5px 5px;     */
}

.menu-list{
    width: 170px;
    height: 280px;
    border: 2px red solid;
}

.postlist{
    height: 50px;
    width: 180px;

}


.conectline{
    height: 5px;
    width: 15px;
    border: orangered 3px;
}

.ansdef{
    display: flex;
    justify-content: space-around;
}

.ansnum{
   
    margin-left: 15px;
}

.separate{
    display: none;
}

.center-line{
    font-size: large;
}

.target-name{
    background: white;
    padding: 0.2em 0.5em;
    display: inline-block;
    font-size: 120%;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px green;
    border-bottom: solid 2px green;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: green;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}