html,
.loginbody {
  height: 100%;
}

.loginbody {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f4f4;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-top{
  padding-top: 60px;
  font-size: 30px;
}

.input-birth {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.info-text {
  color: #888;
  font-size: 12px;
  margin-top: 3px;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: 0 center;
}

.icon-top{
  margin-top: 38px;
  padding: 0%;
  text-align: center;
}